<div class="container body">
  <h2 class="text-center">所有商品</h2><br><hr>
<div class="row col-md-12">
  <% @products.each do |product| %>
  <div class="col-md-3 img">
  <%= link_to account_product_path(product) do%>
  <% if product.photos.present? %>
  <%= image_tag(product.photos[0].avatar.thumb.url, class:"thumbnail") %>
  <% else %>
  <%= image_tag("http://placehold.it/200x200&text = No Pic",class:"thumbnail") %>
  <% end %>
  <% end %>
  <%= product.title %><br>¥<%= product.price %>
</div>
  <% end %>
</div>
</div>
