  <div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td width=200>订单名称</td>
      <td width=100>购买人</td>
      <td width=200>创建时间</td>
      <td width=100>付款状态</td>
      <td width=200>订单状态</td>
      <td colspan="2">操作</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= link_to(order.token,admin_order_path(order.token)) %></td>
    <td><%= order.user.email %></td>
    <td><%= order.created_at.to_s(:long) %></td>
    <td><%= order.is_paid %></td>
    <td><%= order.aasm_state %></td>
    <td><%= render "admin/orders/state_option", order: order %></td>
    <td class="text-center">
      <%= link_to account_order_path(order.id),method: :delete do %>
      <i class="fa fa-trash"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
