<div class="row">
  <div class="container">
  <div class="col-md-12">
    <h2 class="text-center">订单确认</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>商品详情</td>
          <td>单价</td>
          <td>数量</td>
          <td>金额</td>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= link_to(cart_item.product.title,account_product_path(cart_item.product)) %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.quantity*cart_item.product.price%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-2 col-md-offset-10">
    <h4 class="total pull-right">
    总计：<%= render_cart_total_price(current_cart)%>RMB
    </h4>
    </div>
    <hr>
    <h2 class="text-center">订单资讯</h2>
    <%= simple_form_for @order do |f| %>

<h3>订购人资讯</h3>
<hr>
<div class="col-lg-6">
<%= f.input :billing_name %>
</div>
<div class="col-lg-6">
<%= f.input :billing_address %>
</div>

<h3>收货人资讯</h3>
<hr>
<div class="col-lg-6">
<%= f.input :shipping_name %>
</div>
<div class="col-lg-6">
<%= f.input :shipping_address %>
</div>
  <%= f.submit"生成订单",class:"btn btn-lg btn-danger pull-right",data:{disable_with:"Submitting..."} %>
  <% end %>
</div>
  </div>
</div>
