<div class="col-md-12">
  <h2>产品列表</h2>
  <div class="group">
    <%= link_to("新增商品",new_admin_product_path,class:"btn btn-link pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td width="100">商品名</td>
        <td width="220">商品图片</td>
        <td width= "500">商品描述</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= link_to(product.id,admin_product_path(product)) %></td>
        <td>
          <%= render_product_status(product)%>
          <%= product.title %>
        </td>
        <td>
          <%= link_to admin_product_path(product) do %>
          <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url, class:"thumbnail") %>
          <% else %>
          <%= image_tag("http://placehold.it/200x200&text = No Pic",class:"thumbnail") %>
          <% end %>
          <% end %>

      </td>
        <td><%= simple_format(product.description) %></td>
        <td>
          <%= link_to("编辑商品",edit_admin_product_path(product),class:"btn btn-warning") %>
          <%= link_to("删除商品",admin_product_path(product),class:"btn btn-warning",method: :delete,data:{confirm:"确定删除此商品么？"}) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
