<div class="col-md-4 col-md-offset-4">
  <h2>新增商品</h2>
  <hr>
    <%= simple_form_for [:admin,@product] do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :quantity %>
      <%= f.input :price %>
      <%= f.label :avatar,label:"上传多张图片" %>
      <%= f.file_field :avatar, :multiple => true, name:"photos[avatar][]" %>
      <%= f.input :is_hidden %>
      <%= f.submit "提交商品" %>
    <% end %>
</div>
