<div class="container body well">
  <h3 class="text-center">商家管理</h3>
  <br>
  <br>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>用户id</th>
        <th>用户邮箱</th>
        <th>用户角色</th>
        <th>状态</th>
        <th>审批</th>
      </tr>
    </thead>
    <tbody>
      <% @vip_users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <% if user.qunlified_vip? %>
          已通过审核
          <% else %>
          未通过审核
          <% end %>
        </td>
        <td>
          <% if user.unqunlified_vip? %>
          <%= link_to("批准成为商家", admin_user_approve_vip_path(user),:method => :post)%>
          <% else %>
          <%= link_to("取消商家身份", admin_user_cancel_vip_path(user),:method => :post)%>
          <% end %>
       </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
